{% load staticfiles %}
{%load static %}
<!DOCTYPE html >
<html lang="en" class="startup" prefix="og: http://ogp.me/ns#">
<head>
  <link rel="icon" sizes="16x16" type="image/png" href="{{MEDIA_URL}}titleicon.png">
  <title>SARC BLOG</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mrinal Dharmik">
  <meta name="description" content="SARC BLOG belongs to SARC IIT-B">
  <meta name="keywords" content="sarc, iitb, alumni, database, mumbai, indian institute of technology, IIT, blog">
  {% block meta %}
  {% endblock %}
  <style type="text/css">
    #ajaxloader{
      position:fixed;
      background-color:white;
      z-index:100;
      width:100%;
      height:100%;
      left:0;
      top:0;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}style.css" >
  
</head>
<body>
<a href="{% url 'posts:index' %}"></a>
<div id="ajaxloader">
  <div id="colored"></div>
  <div id="white"></div>
</div>
<div id="mobile-nav">
  <div id="head">
    <a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a>
    <div id="button">
      <div class="bar"></div>   
      <div class="bar"></div> 
      <div class="bar"></div>                     
    </div>
    <div id="search_button">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div id="form">
      <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <input autofocus type="text" name="search" autocomplete="off"/> 
      </form>
      <div id="cross">
        <span class="glyphicon glyphicon-remove"></span> 
      </div>
    </div>
  </div> 
  <div id="after"></div>
  <div id="panel">
    <div id="close">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="title"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
    <div id="about" class="container-fluid">
        <p align="justify">
          The SARC blog is a platform for students and alumni to share their thoughts, ideas and memories. We don’t have a defined structure for the blog and prefer to keep it as an open canvas for creativity. Please contact the team if you wish to contribute to the blog. We would love to hear from you!
          <br>
          <br>
          <p align="right">-&nbsp;<a href="http://sarc-iitb.org/#/student/ourteam" target="_blank">Team SARC</a></p>
          <!--<ul>
            <li>Karan (OC): mantrikaran@gmail.com</li>
            <li>Tanay (Editor): tanaytirpude123@gmail.com</li>
            <li>Anuradha (Editor): anuradhabadhe97@gmail.com</li>
            <li>Tumul (Editor): tumulrai91@gmail.com</li>
          </ul-->
        </p>
    </div>
    <div id="links" class="container-fluid">
      <a href="https://www.facebook.com/SARC.IITB/" class="fa fa-facebook" target="_blank"></a>  
      <a href="https://twitter.com/SARC_IITB" class="fa fa-twitter" target="_blank"></a> 
      <a href="https://www.youtube.com/user/SARCIIT" class="fa fa-youtube" target="_blank"></a>  
      <a href="https://www.linkedin.com/in/sarciitb/" class="fa fa-linkedin" target="_blank"></a>
    </div>

    <footer class="container-fluid">
      <a href="https://www.facebook.com/mrinal.dharmik" target="_blank"><span style="color:inherit;">Created by Web and Design Team, SARC.</span></a>
    </footer>
  </div> 
</div>
<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-4" style="padding:0;">
      <div id="desktop-nav" class="sidenav"">
        <div style="font-family: GT-Sectra;" id="sign"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
        <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" name="search" autocomplete="off" class="form-control search" placeholder="Search Blog..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form> 
        <div id="about" class="container-fluid">
            <p align="justify">
              The SARC blog is a platform for students and alumni to share their thoughts, ideas and memories. We don’t have a defined structure for the blog and prefer to keep it as an open canvas for creativity. Please contact the team if you wish to contribute to the blog. We would love to hear from you!
              <br>
              <br>
              <p align="right">-&nbsp;<a href="http://sarc-iitb.org/#/student/ourteam" target="_blank">Team SARC</a></p>
              <!--ul>
                <li>Karan (OC): mantrikaran@gmail.com</li>
                <li>Tanay (Editor): tanaytirpude123@gmail.com</li>
                <li>Anuradha (Editor): anuradhabadhe97@gmail.com</li>
                <li>Tumul (Editor): tumulrai91@gmail.com</li>
              </ul-->
            </p>
        </div>
        <div id="links" class="container-fluid">
          <a href="https://www.facebook.com/SARC.IITB/" class="fa fa-facebook" target="_blank"></a>  
          <a href="https://twitter.com/SARC_IITB" class="fa fa-twitter" target="_blank"></a> 
          <a href="https://www.youtube.com/user/SARCIIT" class="fa fa-youtube" target="_blank"></a>  
          <a href="https://www.linkedin.com/in/sarciitb/" class="fa fa-linkedin" target="_blank"></a>
        </div>
        <footer class="container-fluid">
          <a href="https://www.facebook.com/mrinal.dharmik" target="_blank"><span style="color:inherit;">Created by Web and Design Team, SARC.</span></a>
        </footer>
      </div>
    </div>
  {% block content %}
  {% endblock %}
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}script.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-102317059-1', 'auto');
  ga('send', 'pageview');
</script>
{% block script %}
{% endblock %}
</body>
</html>
