{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SARC-Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" >
  <script src="{% static 'script.js' %}"></script>
{% block script %}
{% endblock %}
 <script>  
    $(document).ready(function(){
      $(".postfeed").click(function(){
              
      });

      if({{section}}==1)
      {
        $("#sections").children().first().children().addClass("active");
        $("#sections_nav").children().first().children().addClass("active");
      }
      else if({{section}}==2)
      {
        $("#sections").children().eq(1).children().addClass("active");
        $("#sections_nav").children().eq(1).children().addClass("active");
      }
      else if({{section}}==3)
      {
        $("#sections").children().eq(2).children().addClass("active");
        $("#sections_nav").children().eq(2).children().addClass("active");

      }
      else if({{section}}==4)
      {
        $("#sections").children().eq(3).children().addClass("active");
        $("#sections_nav").children().eq(3).children().addClass("active");
      }
      else{}
    });
  </script>
</head>
<body>

<div id="mobile-nav">
  <div id="button">
    <div class="bar"></div>   
    <div class="bar"></div> 
    <div class="bar"></div>                     
  </div>
  <div id="panel">
      <div id="close">
        <span class="glyphicon glyphicon-remove"></span>
      </div>
      <div id="title"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
      <ul id="sections_nav">
        <li><a href="{% url 'posts:hotc' %}">History of the Campus</a></li>
        <li><a href="{% url 'posts:alumni_research' %}">Alumni and Research</a></li>
        <li><a href="{% url 'posts:prof_interview' %}">Tete-a-tete with Professor</a></li>
        <li><a href="{% url 'posts:kya' %}">Know your Alumni</a></li>
      </ul>
  </div>
  <div id="btn">
    <span class="glyphicon glyphicon-search"></span>
  </div>
  <div id="search">
    <div id="cross">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="form">
      <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <input type="text" name="search" autofocus> 
      </form>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-4" style="padding:0;">
      <div id="desktop-nav" class="sidenav"">
        <div id="sign"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
        <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" name="search" class="form-control search" placeholder="Search Blog..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
        <ul class="nav nav-pills nav-stacked" id="sections">
          <li><a href="{% url 'posts:hotc' %}">History of the Campus</a></li>
          <li><a href="{% url 'posts:alumni_research' %}">Alumni and Research</a></li>
          <li><a href="{% url 'posts:prof_interview' %}">Tete-a-tete with Professor</a></li>
          <li><a href="{% url 'posts:kya' %}">Know your Alumni</a></li>
        </ul>
        <footer class="container-fluid">
          <a href="https://www.facebook.com/mrinal.dharmik" target="_blank"><span>Made by Team Web and Design, SARC.</span></a>
        </footer>
      </div>
    </div>
  {% block content %}
  {% endblock %}
  </div>
</div>


</body>
</html>
