{% load staticfiles %}
{%load static %}
<!DOCTYPE html >
<html lang="en" class="startup" prefix="og: http://ogp.me/ns#">
<head>
  <title>SARC-Blog</title>
  <link rel="icon" sizes="16x16" type="image/png" href="{% static 'icons/icon.png' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}style.css" >
  <script src="{{STATIC_URL}}script.js"></script>

  <!--fb comments plugin-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block script %}
  {% endblock %}
  <script>  
    $(document).ready(function(){ 
      $(".postfeed").click(function(){
        $(this).addClass("boxshadow_removal");
        $(this).prepend("<div id='loadinganimation'></div>");
        $(this).delay(200).animate({"borderWidth":"0px"},100,"swing");
        $(this).children("#likes").fadeOut(300);
        $(this).children("#date").fadeOut(300);
        $(this).children("img").fadeOut(300);
        $(this).children("#header").delay(500).animate({top:'-70px',opacity:'0'},200,"swing");
        $(this).children("#loadinganimation").delay(700).animate({top:'30px',opacity:'0'},200,"swing");
        $(this).children("#loading").delay(600).fadeOut(0);
        var x = $(this).position();
        $("#dummy").css({"top":x.top,"left":x.left});
        var $postfeed = $(this);
        var $link = $(this).children("a")[0];
        setTimeout(function(){
          $postfeed.before("<div id='dummy'></div>");
          setTimeout(function(){$link.click();}, 900);
        }, 1000);  
        $(".postfeed").off("click");
      });
      if({{section}}==1)
      {
        $("#sections").children().first().children().addClass("active");
        $("#sections_nav").children().first().children().addClass("active");
      }
      else if({{section}}==2)
      {
        $("#sections").children().eq(1).children().addClass("active");
        $("#sections_nav").children().eq(1).children().addClass("active");
      }
      else if({{section}}==3)
      {
        $("#sections").children().eq(2).children().addClass("active");
        $("#sections_nav").children().eq(2).children().addClass("active");

      }
      else if({{section}}==4)
      {
        $("#sections").children().eq(3).children().addClass("active");
        $("#sections_nav").children().eq(3).children().addClass("active");
      }
      else{}
    });
  </script>
</head>
<body>

<div id="mobile-nav">
  <div id="button">
    <div class="bar"></div>   
    <div class="bar"></div> 
    <div class="bar"></div>                     
  </div>
  <div id="panel">
    <div id="close">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <div id="title"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
    <div id="about" class="container-fluid">
        <p align="justify">
          The SARC blog is a platform for students and alumni to share their thoughts, ideas and memories. We don’t have a defined structure for the blog and prefer to keep it as an open canvas for creativity. Please contact the team if you wish to contribute to the blog. We would love to hear from you!
          <ul>
            <li>Karan (OC): mantrikaran@gmail.com</li>
            <li>Tanay (Editor): tanaytirpude123@gmail.com</li>
            <li>Anuradha (Editor): anuradhabadhe97@gmail.com</li>
            <li>Tumul (Editor): tumulrai91@gmail.com</li>
          </ul>
        </p>
    </div>
    <div id="links" class="container-fluid">
      <a href="https://www.facebook.com/SARC.IITB/" class="fa fa-facebook" target="_blank"></a>  
      <a href="https://twitter.com/SARC_IITB" class="fa fa-twitter" target="_blank"></a> 
      <a href="https://www.youtube.com/user/SARCIIT" class="fa fa-youtube" target="_blank"></a>  
      <a href="https://www.linkedin.com/in/sarciitb/" class="fa fa-linkedin" target="_blank"></a>
    </div>

    <div id="search_button">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div id="form">
      <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <input id="#input" type="text" name="search" autocomplete="off"> 
      </form>
      <div id="cross">
        <span class="glyphicon glyphicon-remove"></span> 
      </div>
    </div>

    <footer class="container-fluid">
      <a href="https://www.facebook.com/mrinal.dharmik" target="_blank"><span style="color:inherit;">Made by Team Web and Design, SARC.</span></a>
    </footer>
  </div>

  <div id="head">
    <a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a>
  </div>  
</div>


<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-4" style="padding:0;">
      <div id="desktop-nav" class="sidenav"">
        <div style="font-family: GT-Sectra;" id="sign"><h1><a href="{% url 'posts:index' %}">S<span>A</span>RC BLOG</a></h1></div>
        <form method="post" action="{% url 'posts:index' %}">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" name="search" autocomplete="off" class="form-control search" placeholder="Search Blog..">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form> 
        <div id="about" class="container-fluid">
            <p align="justify">
              The SARC blog is a platform for students and alumni to share their thoughts, ideas and memories. We don’t have a defined structure for the blog and prefer to keep it as an open canvas for creativity. Please contact the team if you wish to contribute to the blog. We would love to hear from you!
              <ul>
                <li>Karan (OC): mantrikaran@gmail.com</li>
                <li>Tanay (Editor): tanaytirpude123@gmail.com</li>
                <li>Anuradha (Editor): anuradhabadhe97@gmail.com</li>
                <li>Tumul (Editor): tumulrai91@gmail.com</li>
              </ul>
            </p>
        </div>
        <div id="links" class="container-fluid">
          <a href="https://www.facebook.com/SARC.IITB/" class="fa fa-facebook" target="_blank"></a>  
          <a href="https://twitter.com/SARC_IITB" class="fa fa-twitter" target="_blank"></a> 
          <a href="https://www.youtube.com/user/SARCIIT" class="fa fa-youtube" target="_blank"></a>  
          <a href="https://www.linkedin.com/in/sarciitb/" class="fa fa-linkedin" target="_blank"></a>
        </div>
        <footer class="container-fluid">
          <a href="https://www.facebook.com/mrinal.dharmik" target="_blank"><span style="color:inherit;">Made by Team Web and Design, SARC.</span></a>
        </footer>
      </div>
    </div>
  {% block content %}
  {% endblock %}
  </div>
</div>


</body>
</html>
