{% extends "base.html" %}
{% block script %}
  <script>
    $(document).ready(function(){
        if({{section}}==1)
        {
          $("#sections").children().first().children().addClass("active");
          $("#sections_nav").children().first().children().addClass("active");
        }
        if({{section}}==2)
        {
          $("#sections").children().eq(1).children().addClass("active");
          $("#sections_nav").children().eq(1).children().addClass("active");
        }
        if({{section}}==3)
        {
          $("#sections").children().eq(2).children().addClass("active");
          $("#sections_nav").children().eq(2).children().addClass("active");

        }
        if({{section}}==4)
        {
          $("#sections").children().eq(3).children().addClass("active");
          $("#sections_nav").children().eq(3).children().addClass("active");
        }

    });
  </script>
{% endblock %}
{% block content %}
    <div class="col-lg-offset-3 col-lg-9">
      <div class="col-lg-offset-2 col-lg-8" id="postfeed">
        {% for post in all_posts %}
        <br>
        <h2>{{post.title}}</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by {{post.author}}</h5>
        <h5 style="color:black; opacity:0.6;" >{{post.date}}</h5>
        <h5>  
          {% for tag in post.tags.all %}
          <span class="label label-default">{{ tag.tag }}</span>
          {% endfor %}
        </h5>
        <hr>
        {{post.text|safe}}
        <br>
        <hr>
        {% endfor %}
        <div id="pageturner">
          <ul class="pager">
            {% if all_posts.has_previous %}
            <li class="previous"><a href="?page={{ all_posts.previous_page_number }}">newer posts</a></li>
            {% endif %}
            {% if all_posts.has_next %}
            <li class="next"><a href="?page={{ all_posts.next_page_number }}">older posts</a></li>
            {% endif %}
          </ul>
        </div> 
      </div>
    </div>
{% endblock %}
