$sidebar: #C5D5D8;
//$sidebar: #96C1EA;
$sarcblog: #6D6D6D;
$content: #777777;
$content-hover: #515151;
$post-content: #A0A0A0;
$hover-border: #96C1EA;
//$hover-border: #C5D5D8;
$shadow: #ddd;

@font-face{
  font-family: GT-Sectra;
  src: url("fonts/GT-Sectra-Fine-Bold.ttf");
}

@font-face{
  font-family: roboto;
  src: url('fonts/Roboto-Regular.ttf');
}

/* The animation code */
@keyframes example {
    0% {
      background-color:white;
    }
    50% {
      background-color:$sidebar;
    }
    100% {
      background-color:white;
    }
}

@keyframes slideInFromBottom{
  0% {
    transform:translateY(50%);
    opacity:0;
  }
  100% {
    transform:translateY(0%);
    opacity:1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity:0;
  }
  100% {
    transform: translateX(0%);
    opacity:1;
  }
}

@keyframes fade{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes loading{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }
}

@keyframes scaleanimation{
  0%{
    transform: scale(1,1);
  }
  100%{
    transform: scale(6, 6);
  }
}

*{
  padding:0;
  margin:0;
  border:0;
}

body{
  background-color:white;
  font-family: roboto;
}

.row.content {height: 1500px}

#dummy{
  position:absolute;
  z-index:9;
  width:100%;
  height:100%;
  box-shadow:0 0 50px $shadow;
  animation:scaleanimation 0.5s cubic-bezier(.93,.05,.74,.74);
  transform:scale(6,6);
  background-color:white;
}

.boxshadow_removal{
  box-shadow:none;
}

#bootlag{
  right:0;
  width:100%;
  padding:0px;
  padding-left:4%;
}

#pageheader{
  margin:6px;
  margin-bottom:0px;
  color:$content;
  #dropdown{
    position:absolute;
    top:6px;
    right:25px;
    button{
      background-color: white;
      color:$hover-border;
      border:none;
      outline:none;
    }
    .dropdown-menu{
      padding:0;
      min-width:30px;
      right:0;
      li{
        padding:0;
      }
    }
    span{
      transform:scale(1.5,1.5);
    }
    a{
      text-decoration:none;
      color:$content;
      &:hover{
        opacity:0.8;
      }
      transition:opacity 0.1s ease-in-out;
    }
  }
}

.postfeed{
  position:relative;
  margin:10px;
  padding:0px;
  width:auto;
  overflow:hidden;
  box-shadow:0 0 10px $shadow;
  border:none;
  color:$content;
  text-align:center;
  animation: example 0.5s ease-in-out;
  &:hover, &:focus{
    border:6px solid $hover-border;
    box-shadow:none;
    outline:none;
    transition:border 0.2s;
    #header, .tags{
        color: $content-hover;
        border-color: $content-hover;
        .label-default{
          background-color: $content-hover;
        }
    }
  } 
  img{
    border:1px solid $content;
    position:absolute;
    height:40%;
    width:auto;
    max-width:80%;
    max-height:40%;
    top:40%;
    left:0;
    right:0;
    margin:auto;
  }
  #header{
    font-family:GT-Sectra;
    position:absolute;
    width:100%;
    height:30%;
    max-height:30%;
    text-align:center;
    top:0%;
    padding:0;
    padding-left:5%;
    padding-right:5%;
    h3{
      position:relative;
      margin-top:10%;
      font-size:28px;
    }
    h6{
      position:relative;
      margin-bottom:0;
      font-size:12px;
      padding-left:5%;
      padding-right:5%;
    }
  }
  #loading{
      position:absolute;
      left:25%;
      top:33%;
      border: 2px solid $post-content;
      border-radius:2px;
      width:50%;
      height:2px;
      margin:auto;
  }
  #loadinganimation{
    position:absolute;
    z-index:1;
    left:25%;
    top:33%;
    border: 2px solid $hover-border;
    border-radius:2px;
    width:50%;
    height:2px;
    margin:auto;
    animation: loading 0.5s cubic-bezier(.08,.79,.57,.5);
  }
  #likes{
    position: absolute; 
    font-size:12px;     
    bottom:4%;
    right:5%;
  }
  #date{
    position:absolute;
    bottom:4%;
    font-size:12px;
    left:5%;
  }
}

#desktop-nav {
  background-color: $sidebar;
  padding:0px;
  z-index:10;
  color: $content;
  height: 100%;
  width:350/1280*100%;
  position: fixed;
  span{
    color:$sidebar;
  }
  #sign{
    position:absolute;
    font-face:GT-Sectra;
    top:10%;
    height:10%;
    width:100%;
    h1{
      font-size:40px;
    }
    h1>a{
      color:$sarcblog;
      text-decoration: none;
      padding:0;
      padding-left:10%;
      &:hover{
        color:$sarcblog;
        text-decoration: none;
        opacity:.8;
      }
      span{
        color:white;
      }
      transition:opacity .2s ease-in-out;
    }  
  }
  form{
    position:absolute;
    font-size:16px;
    top:20%;
    height:7%;
    padding:0;
    padding-left:10%;
    padding-right:10%;
    border-bottom:0.3px solid white;
    .btn{
      border:1px solid $sidebar;
      &:hover{
        background-color:white;
        border:1px solid $sidebar;
        outline:none;
        box-shadow:none;
      }
      &:active{
        border:1px solid $sidebar;
        outline:none;
        box-shadow:none;
      }
    }
    input{
      border:1px solid $sidebar;
      outline:none;
      box-shadow:none;
    }
  }
  #about{
    position:absolute;
    border-bottom:1px solid white;
    top:33%;
    padding:0;
    height:40%;
    width:100%;
    p{
      position:relative;
      width:80%;
      left:10%;
      font-size:14px;
      margin-bottom:0;
    }
    a{
      color:inherit;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
        color:$sarcblog;
      } 
    }
    ul{
      position:relative;
      padding-top:10px;
      left:15%;
      width:75%;
      list-style-type:dots;
      font-size:12px;
    }
  }
  #links{
    position:absolute;
    top:75%;
    left:10%;
    width:80%;
    height:5%;
    padding:0;
    font-size:24px;
    text-align:center;
    a{
      padding:10px;
      color:$content;
      &:hover, &:focus{
        text-decoration:none;
      }
      &:hover{
        opacity:0.7;
      }
      transition:opacity 0.2s ease-in-out;
    }
  }
  footer{
    position:absolute;
    font-size:10px;
    bottom:1%;
    height:auto;
    width:100%;
    border-top:1px solid white;
    padding:0px;
    padding-left:10%;
    padding-top:2%;
    a{
      color:$content;
      opacity:0.9;
      &:hover, &:focus{
      text-decoration:none;
      opacity:0.7;
      }
      transition:opacity 0.2s ease-in-out;
    }
  }
}

#mobile-nav{ 
  #head{
    position:fixed;
    background-color:white;
    box-shadow:0 1px 1px 0 #eee;
    z-index:10;
    top:0px;
    height:53px;
    text-align:center;
    width:100%;
    font-family:GT-Sectra;
    padding-top:10px;
    padding-right:0px;
    #button{
      position:fixed;  
      z-index:11;
      top:10px;
      left:10px;
      width:50px;
      height:50px;
      color:$content;
      .bar{
        border:2px solid $sidebar;
        margin:10%;
        height:0px;
        width:30px;
      }
    }
    a{
      position:relative;
      top:0;
      bottom:0;
      height:40px;
      margin:auto;
      text-decoration:none;
      color:$sarcblog;
      font-size:28px;
      span{
        color:$sidebar;
      }
      &:hover, &:focus{
        opacity:0.8;
      }
    }
    #search_button{
      position:absolute;
      right:14px;
      top:14px;
      padding:0;
      color:$sidebar;
      span{
        font-size:26px;
      }
      &:active{
        border:none;
        outline:none;
        box-shadow:none;
      }
    }
    #form{
      position:fixed;
      z-index:13;
      background-color:$sidebar;
      opacity:0;
      height:100%;
      width:100%;
      top:0;
      left:0;
      input{
        position: absolute;
        font-family:roboto;
        z-index:15;
        height:30px;
        width:70%;
        top:0;
        bottom:0;
        right:0;
        left:0;
        margin:auto;
        background-color:$sidebar;
        font-size:24px;
        border:none;
        border-bottom:3px solid $sarcblog;
        outline:none; 
        &:focus{
          color:$sarcblog;
          text-decoration:none;
        }
      }
      #cross{
        position:absolute;
        right:16px;
        top:16px;
        padding:0;
        span{
          font-size:24px;
        }
      }
    } 
  }
  #after{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:53px;
  }
  #panel{
    position:fixed;
    width:100%;
    font-family:roboto;
    z-index:12;
    left:-100%;
    top:0;
    height:100%;
    background-color:$sidebar;
    color:$content;
    transition:left 0.3s ease-out;
    #title{
      top:10%;
      padding:0;
      font-family:GT-Sectra;
      width:100%;
      height:10%;
      padding:0;
      padding-left:15%;
      position:absolute;
      h1{
        font-size:28px;
        a{
          text-decoration:none;
          color:$sarcblog;
          span{
            color:white;
          }
          &:hover, &:focus{
            opacity:.8;
          }
        }
      }
    }
    #about{
      position:absolute;
      top:20%;
      padding:0;
      padding-top:5%;
      height:50%;
      width:100%;
      p{
        position:relative;
        width:70%;
        left:15%;
        font-size:14px;
        margin-bottom:0;
      }
      ul{
        position:relative;
        padding-top:10px;
        left:20%;
        width:65%;
        list-style-type:dots;
        font-size:12px;
      }
      a{
        color:inherit;
        text-decoration:underline;
        &:hover{
          color:$sarcblog;
        } 
      }
    }
    #close{
      position:absolute;
      left:16px;
      top:16px;
      padding:0;
      span{
        font-size:24px;
      }
    }
    #links{
      position:absolute;
      bottom:15%;
      width:100%;
      height:5%;
      padding:0;
      text-align:center;
      font-size:18px;
      a{
        padding:10px;
        color:$content;
        &:hover, &:focus{
          text-decoration:none;
          opacity:0.7;
        }
      }
    }
    footer{
      position:absolute;
      font-size:12px;
      bottom:2%;
      height:auto;
      width:100%;
      padding:0px;
      padding-left:15%;
      padding-top:2%;
      a{
        color:$content;
        opacity:0.9;
        &:visited, &:hover{
          text-decoration:none;
          opacity:0.7;
        }
      }
    }
  }
}

.active{
  font-weight:bold;
  background-color:$sidebar;
  color:$sarcblog;
}

.post{
  position:relative;
  z-index:9;
  margin:auto;;
  width:100%;
  color:$content;
  padding-top:5%;
  #close_post{
    position:relative;
    right:0px;
    top:.0px;
    width:100%;
    height:20px;
    span{
      position:absolute;
      right:0;
      color:$post-content;
      font-size:18px;
    }
  }
  #header{
    color:$content;
    text-align:center;
    animation: slideInFromBottom 0.5s ease-out;
    h5{
      color:$content;
      font-size:16px;
    }
    h2{
      color:$sarcblog;
      font-size:32px;
    }
  }
  img{
    border:1px solid $content;
  }
  #likes{
    color:$content;
    position:absolute;
    right:0;
    padding:2%;
    opacity:0.8;
    animation: fade 0.5s ease-out;
  }
  #date{
    color:$content;
    position:absolute;
    left:0;
    opacity:0.8;
    padding:2%;
    animation: fade 0.5s ease-out;
  }
  #text{
    color:$content;
    font-size:18px;
    animation: fade 0.5s ease-out;
    p{
      text-align:justify;
    }
  }
  #editors{
    text-align:center; 
    margin-bottom: 5px;
    font-family:GT-Sectra;
    h4{
      color:$sarcblog;
    }
  }
  .circle{
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    &>div{
      overflow:hidden;
      box-shadow:0 2px 10px $post-content;
      width:100px;
      height:100px;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      border-radius:50px;
      background-color:gray;
    }
  }
  #like{
    position: absolute;
    left:0;
    top:0; 
    padding:0; 
  }
  #share{
    position: absolute;
    right:0;
    top:0; 
    padding:0; 
  }
}

#pageturner{
  position:relative;
  left:0;
  right:0;
  width:100%;
  margin:auto;
  bottom:0px;
}

/* for desktops */
@media only screen and (min-width: 1200px){
  #desktop-nav {
    display: unset;
  }
  #mobile-nav{
    display: none;
  }
  .row.content {height: auto;} 
}

/* for tablets */
@media only screen and (max-width:1200px){
  #desktop-nav {
    display: none;
  }
  #bootlag{
    padding-left:0;
  }
  #mobile-nav{
    display: unset;
  } 
  .row.content {height: auto;} 
}
